body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  background-color: #2c2c2c;
  text-align: center;
  padding: 32px 0 48px;
  position: relative;
  max-height: 100px;
}

.header h1 {
  margin: 0;
  font-size: 29px;
  color: white;
}

.header h2 {
  text-transform: uppercase;
  margin-top: 0;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  margin-top: 8px;
  color: white;
  background-color: #000;
  margin-bottom: 0;
}

.agency {
  font-size: 14.4px;
  color: #ccc;
  flex-grow: 1;
  text-align: center;
}

.menu-icon {
  font-size: 24px;
  color: white;
  margin-right: 16px;
}

.main {
  width: 85%;
  margin: 32px auto;
}

.events {
  margin: 0 auto;
  max-width: 1200px;
}

.events h2 {
  font-size: 32px;
  margin-bottom: 32px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.event-card {
  position: relative;
  max-width: 400px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  cursor: pointer;
  border: 2px solid transparent;
  transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease,
    border-color 0.3s ease;
}
.event-card:hover {
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.6);
  transform: translateY(-8px);
  border-color: #fff;
}
.event-card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.event-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255);
  color: black;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 0 0 12px 12px;
}

.event-details h3, 
.event-details .date, 
.event-details .venue, 
.event-details .desc {
  margin: 4px 0;
}

.footer {
  background-color: #000;
  color: #ccc;
  padding: 32px 16px;
  text-align: center;
}

.footer-info {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.footer-info p {
  margin: 0;
  font-size: 14.4px;
  display: flex;
  align-items: center;
  gap: 6.4px;
}

.gallery {
  color: #ccc;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.signature {
  font-size: 14.4px;
  color: #888;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .event-card {
    flex-direction: column;
    align-items: center;
  }

  .event-card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
  }

  .event-details {
    width: 100%;
    margin-left: 0;
    border-radius: 0 0 12px 12px;
  }

  .footer-info {
    flex-direction: column;
    align-items: center;
    gap: 9.6px;
  }
}
